* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #f0f0f0;
}

.container {
  margin: 300px auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.pressAnyKeyContainer{
    display: none;
}

.pressAnyKeyContainer,
.eventKey,
.eventKeyCode,
.eventCode {
  height: 70px;
    width: 500px;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

.allEventCodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: none;
}

.eventKeyContainer p,
.eventKeyCodeContainer p,
.eventCodeContainer p {
  font-weight: bold;
  color: rgb(99, 98, 98);
}

.allEventCodes.active {
  display: block;
}

